    <!-- Preloader-content -->
    <app-preloader></app-preloader>
    <!-- MainMenu-Area -->
    <app-nav></app-nav>
    <!-- MainMenu-Area-End -->
    <!-- Home-Area -->
    <app-header></app-header>
    <!-- Home-Area-End -->
    <!-- About-Area -->
    <app-about-us></app-about-us>
    <!-- About-Area-End -->
    <!-- Progress-Area -->
    <app-our-progress></app-our-progress>
    <!-- Progress-Area-End -->
    <!-- Video-Area -->
    <app-video-area></app-video-area>
    <!-- Video-Area-End -->
    <!-- Feature-Area -->
    <app-feature-area></app-feature-area>
    <!-- Feature-Area-End -->
    <!-- Testimonial-Area -->
    <app-testimonial-area></app-testimonial-area>
    <!-- Testimonial-Area-End -->
    <!-- Gallery-Area -->
    <app-gallery-area></app-gallery-area>
    <!-- Gallery-Area-End -->
    <!-- How-To-Use -->
    <app-how-to-use></app-how-to-use>
    <!-- How-To-Use-End -->
    <!-- Download-Area -->
    <app-download-area></app-download-area>
    <!-- Download-Area-End -->
    <!--Price-Area -->
    <app-pricing-area></app-pricing-area>
    <!--Price-Area-End -->
    <!--Questions-Area -->
    <app-questions-area></app-questions-area>
    <!--Questions-Area-End -->
    <!-- Subscribe-Form -->
    <app-form-lp></app-form-lp>
    <!-- Subscribe-Form-Area -->
    <!-- Footer-Area -->
    <app-footer></app-footer>
    <!-- Footer-Area-End -->