

.cat-bg-primary {
  background: $cat-secondary-color !important; // blue
}

.cat-bg-secondary {
  background-color: $cat-tertiary-color !important; // light blue
}

.cat-bg-tertiary {
  background-color: $cat-primary-color !important; // yellow
}

.cat-bg-tertiary {
  background-color: $cat-primary-color !important; // yellow
}

