
.cat-text-primary {
  color: $cat-grey !important;
};

.cat-text-secondary {
  color: $cat-primary-color !important;
}

.cat-text-tertiary {
  color: $cat-white !important;
}

.cat-text-quaternary {
  color: $cat-secondary-color;
}



.cat-fond-bold {
  font-weight: bold !important;
}
