/*THEME COLORS*/
$cat-primary-color: #F5B465; // yellow
$cat-secondary-color: #1F3465; // blue
$cat-tertiary-color: #E9F6FB; // light blue

/*COLORS*/
$cat-grey: #54595f; // grey
$cat-white: #ffffff; // white


/*TEXT COLORS*/
$primary-text-color: $cat-grey; // grey
$secondary-text-color: $cat-primary-color; // yellow
$tertiary-text-color: $cat-secondary-color; // blue