<div class="subscribe-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="subscribe-form text-center">
                    <h3 class="blue-color">Subscribe for More Features</h3>
                    <div class="space-20"></div>
                    <form id="mc-form">
                        <input type="email" class="control" placeholder="Enter your email" required="required" id="mc-email">
                        <button class="bttn-white active" type="submit"><span class="lnr lnr-location"></span> Subscribe</button>
                        <label class="mt10" for="mc-email"></label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>